[submodule "ScaleFast.roboFontExt/lib/mutatorScale"]
	path = ScaleFast.roboFontExt/lib/mutatorScale
	url = git@github.com:roboDocs/MutatorScale.git
[submodule "ScaleFast.roboFontExt/lib/dynamicParameters"]
	path = ScaleFast.roboFontExt/lib/dynamicParameters
	url = git@github.com:roboDocs/dynamicParameters.git
